body {
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
  }
  
#crosshair {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 2px; /* Adjust the thickness of the lines */
    height: 2px;
    background-color: white; /* Change the color to white */
    transform: translate(-50%, -50%);
    z-index: 9999; /* Ensures it's above other content */
}

.message-box {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  max-width: 300px;
  padding: 20px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #777;
}

.message-content {
  text-align: center;
}

#settings {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: none;
}
